// styles.scss
@use "@angular/material" as mat;

@include mat.core();

$stopwatch-primary: mat.define-palette(mat.$indigo-palette);
$stopwatch-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$stopwatch-warn: mat.define-palette(mat.$red-palette);

$stopwatch-theme: mat.define-light-theme((
  color: (
    primary: $stopwatch-primary,
    accent: $stopwatch-accent,
    warn: $stopwatch-warn,
  )
));

@include mat.all-component-themes($stopwatch-theme);

body {
  background-image: url('./assets/bg.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


@media screen and (max-width: 768px) {
  body {
    background-position: center;
  }
}
